<div>
    <h1 class="d-flex justify-content-center">Cadastrar Boivino</h1>

  <div class="d-flex justify-content-center"">
    <%= render "form", bovino: @bovino %>
    <%= link_to "Voltar", bovinos_path, class: "btn btn-primary"%>
  </div>
<div>